<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About Croatopica Online</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#careers') > -1 ) {
        $('section#careers').show();
        $('#about-menu a.careers').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">About</a>
    <a href="#faq" class="faq">Faq</a>
    <a href="#careers" class="careers">Careers</a>
    <a href="#contact" class="contact">Contact</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/croatopica/images/about.jpg')}" alt="Croatopica" />
      </div>
      <article>
        <h2>About Croatopica</h2>
        
        <p>Croatopica is created as the meeting point of the Croatian academic community and wider audience, especially Croatian diasporans, with interest in the Croatian society, culture and heritage. Relying on new technologies and methodological possibilities, Croatopica represents the most recent scientific achievements of Croatian scientists and experts, available in the form of lectures.</p>
        <p>Our mission is to familiarize and popularize scientific knowledge of the Croatian society, regardless of the geographical distance, political affiliation or linguistic barriers. We intend to unite the Croatian scientific potentials and to establish the necessary dialogue between the Croatian culture and interested interlocutors, by setting the narrow institutional framework aside. Croatopica is an excellent opportunity for those who have no possibility of residing and studying in Croatia to meet the Croatian culture.</p>

      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/croatopica/images/about.jpg')}" alt="Croatopica" />
      </div>
      <article>
        <h2>FAQs about Croatopica</h2>
        <p><strong>What is Croatopica?</strong><br />
        Croatopica is an online platform whose purpose is to present interactive video lectures on various topics about the Croatian cultural heritage (history, science, sports, geography, etc.).</p>
        
        <p><strong>Who created Croatopica?</strong><br />
        It was created by the members of the Croatian academic community, more specifically, by Olevonta – the association for the promotion of education in the Croatian culture and heritage.</p>

        <p><strong>What is Olevonta’s and Croatopica’s mission? </strong><br />

        Olevonta’s mission is to familiarize and popularize scientific knowledge of Croatian society, regardless of the geographical distance, political affiliation or language barriers. By using new technologies, Croatopica spreads the knowledge of Croatian identity, culture and heritage on the academic level, which makes it available to everyone with interest.

        </p>
        <p><strong>Who are Croatopica’s lecturers? </strong><br />

        Croatopica’s lecturers are the renowned university lecturers, professors and scientists, but also other experts who will represent the fields of their research in a unique and instructive manner.

        </p>
        <p><strong>What is the relationship between Croatopica and similar global projects? </strong><br />

        The idea of online education is relatively new, but realized, and it is certainly the future of higher education. There is a number of such platforms with lectures on various fields of science, various levels of difficulty and interaction.
        Most of them are created on independent non-institutional initiatives. Such is Croatopica, as well. Some have remained independent, others have developed into platforms for university consortia.

        </p>
        <p><strong>What is the relationship between Croatopica and Croatian institutions for higher education? </strong><br />

        Online education is present in Croatia. It has developed on the level of individual universities, to which Croatopica offers its cooperation.

        </p>
        <p><strong>What is Croatopica’s vision? </strong><br />

        Croatopica intends to unite both institutional and non-institutional scientific potentials, to give the online education a new dimension and to make it available for all interested users.

        </p>
        <p><strong>How is Croatopica funded? </strong><br />

        For now, Croatopica is funded by private investments, since such educational models are unsustainable without major funding.
        The founders’ intention is to develop Croatopica so as to be self-sufficient. That is why the creation of the commercial structure is required, including the support of the attendants, donors, investors and business partners.
        </p>

        <h2>STUDENTS' FAQs</h2>
            <p><strong>How are Croatopica’s lectures organized? </strong><br />
            Each course is announced by their lecturer with a short video about the specific topic. Users’ registration depends on their interest. By registering, one is able to follow segments of the chosen lectures.
            Later on, users will be offered a possibility to enrol in the chosen course by paying previously announced fee. Users will be informed on the beginning of the course. All lectures are interactive.
            Course details, additional conditions, prerequisites and materials are available in course descriptions before registration.
            </p>
            <p><strong>Which scientific fields does Croatopica include? </strong><br />

            Croatopica is open for cooperation within various scientific fields, as long as they can represent Croatian science, society, tradition and culture in a professional manner.
            </p>
            <p><strong>Which level of knowledge is required for me to participate in Croatopica’s courses? </strong><br />

            Croatopica as such requires neither previous knowledge nor education. However, each lecturer emphasizes prerequisites for their specific topic, if such exist.

            </p>
            <p><strong>Which level of knowledge does Croatopica offer? </strong><br />

            Since Croatopica’s lecturers are mostly university professors and scientists, users can rapidly gain insight in recent scientific knowledge and university lectures.

            </p>
            <p><strong>Does Croatopica offer certificates? </strong><br />

            Unfortunately, Croatopica is still not in the possibility to give certificates. We are hoping to launch a certified university program soon, as the project develops.

            </p>
            <p><strong>Why do I have to pay for lectures? </strong><br />

            In this developmental period, Croatopica requires funding from users, in order to become globally available. Fees are determined on the basis of minimal technical costs.
            Should Croatopica become recognized and gain wider support, we will be delighted to offer overall content for free. Please, follow the NEWS page on Croatopica for detailed information on this issue.

            </p>
            <p><strong>Can I use Croatopica for free? </strong><br />

            The future goal is to connect Croatopica’s friends and sponsors with those who are not in the possibility to pay for the enrolment. In case You are not able to pay for courses, please contact us on Croatopica.
            </p>

      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <img src="${static.url('themes/croatopica/images/about.jpg')}" alt="Croatopica" />
      </div>
      <article>
        <h2>Careers</h2>
        <p>
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/croatopica/images/about.jpg')}" alt="Croatopica " />
      </div>
      <article id="Croatopica-OpenEdX-contact">
        <h2>Technical Support, Suggestions, and Platform Bugs</h2>
        <p><strong>For Technical Support, to make suggestions or to report platform bugs email us at: </strong><br />
        <a href="mailto:technical@croatopica.net">technical@croatopica.net</a></p>

        <p>&nbsp;</p>
        <h2>Additional Contact Information</h2>
        <p><strong>For general information email us at:</strong><br />
        <a href="mailto:contact@croatopica.net">contact@Croatopica.net</a></p>

      </article>
      <script>
        $(function() {
          var ua = navigator.userAgent;
          
          $('#Croatopica-OpenEdX-contact a').each(function() {
            var href = $(this).attr('href') + "?body=User Agent String: " + ua + " (Please do not delete, this text helps us help you. - Croatopica OpenEdX Team)";
            if (!$(this).hasClass('external')) {
              $(this).attr('href', href);
            }
          });
        });
      </script>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
